/* *{
    font-family: "Roboto";
} */

*   {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Just want to see the borders temporarily */

/* * {
    border: 1px solid #ddd;
    border-radius: 16px;
} */


body {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.headerlinks {
    display: flex;
    text-decoration: none;
    color: #f9faf8;
}

.headerlinks, ul {
    display: flex;
    gap: 16px;
}

/* The following relate to the hero section of the website */

a {
    text-decoration: none;
    color: #E5E7EB;
  }

.herotext {
    background-color: #1f2937;
    display: flex;
    padding: 100px 200px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.herocontent    {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.heroleft   {
    display: flex;
    flex: 1 2 auto;
    flex-direction: column;
    justify-content: stretch;
}

.heroheader {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 5px 5px;
}

.herosubtext {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px 5px;
}

#heroimage img {
    display: flex;
    flex: 2 1 auto;
    width: 100%;
    height: auto;
}

button.signup    {
    border-color: #3882F6;
}

button  {
    display: flex;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
}

 /* The following relate to the main information section */

.information    {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 150px;
}

.informationheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.informationimages  {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 0 200px;
    gap: 32px;
    height: auto;
}

.imagecontent img {
    display: flex;
    border-radius: 25px;
    border: 5px solid #3882F6;
    width: 100%;
    height: auto;
}

.imagecontent   {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.infotext {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

/* The following section relates to the quote section */

.quote  {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.quotetext  {
    display: flex;
    font-size: 36px;
    font-weight: 100;
    flex-wrap: wrap;
    font-style: italic;
    color: #1f2937;
}

.quoteauthor    {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: end;
    color: #1f2937;
}

/* This section relates to the action section of the website */

.action {
    display: flex;
    flex-direction: row;
    margin: 75px 200px;
    padding: 50px;


    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
}

.actionheading

button #signupaction   {
    border-color: #f9faf8;
}
